.book-card{
    margin: 10px;
    height: 200px;
    width: 350px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal-form{
    width: 350px;
    margin: 30px;
    padding: 5px;
}
.modal-form input{
    margin: 10px;
    padding: 10px;
}
.modal-form select{
    margin: 10px;
    padding: 10px;
}